<!DOCTYPE html>
<html>
  <head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    '/stylesheets/application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>


  <% if current_user %>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
  <%else%>
      <%= link_to "Login", new_user_session_path %>
  <%end%>
  <div id ='nav'>
    Language:
    <%= link_to_unless_current "English", locale: "en"%>
    <%= link_to_unless_current "Russian", locale: "ru"%>
  </div>
    <%= yield %>
  </body>
</html>
